body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: Arial, sans-serif;
}

.card {
    width: 300px;
    max-width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.card-image img {
    width: 100%;
    display: block;
    border-bottom: 1px solid white;
}

.card-body {
    padding: 16px;
}

.card-body h2 {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: black;
}

.card-body p {
    font-size: 0.9em;
    color: black;
}
.card-footer {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
}

.card-footer button {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.card-footer button:hover {
    background-color: blue;
}

.card-icons {
    display: flex;
    align-items: center;
}

.card-icons i {
    font-size: 1.5rem;
    margin-left: 10px;
    cursor: pointer;
}

.card-icons i:hover {
    transform: scale(1.2);
}